---
import Serialize from "../Serialize.astro";
const data = {
    name: 'John Doe',
    isOkay: true,
    mood: null
}
export type Data = typeof data;
---

<Serialize data={data} id="my-data" />

<div id="render-here"></div>

<script>
    import { deserialize } from '../deserialize';
import {Data} from './index.astro';
    const data = deserialize<Data>('my-data');

    console.log(data);
    const renderDiv = document.querySelector('#render-here');
    if (renderDiv) {
        renderDiv.innerHTML =  JSON.stringify(data)
    }
</script>
