---
import Serialize from "../Serialize.astro";
import { stringify } from "devalue";
const data = {
    name: 'John Doe',
    isOkay: true,
    mood: null,
    now: new Date(),
    age: BigInt('3218378192378')
}
export type Data = typeof data;
---

<div id="render-here"></div>
<Serialize data={data} id="my-data" use={stringify}/>

<script>
    import { deserialize } from '../deserialize';
    import { parse } from 'devalue';
    import type { Data } from './index.astro';

    const data = deserialize<Data>('my-data', parse);
    console.log(data);
</script>
