---
import Resumable from '../Resumable.astro';
const data = {
    hello: 'world'
}
---

<Resumable id="astro-obj" data={data} />

<div id="render-here"></div>

<script>
    import {resume} from '../resume';
    console.log(resume('astro-obj'));
    const renderDiv = document.querySelector('#render-here');
    if (renderDiv) {
        renderDiv.innerHTML =  JSON.stringify(resume('astro-obj'))
    }
</script>